[Unit]
Description=Ente Web UI
After=network.target ente-museum.service
Requires=ente-museum.service

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/entephotos/web
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
